doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Tienda de Productos
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
    body   
        block formulario
        //block historial_productos